{% extends "layout.html.twig" %}

{% set navtab = 'history' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <section class="well">
                <h3>Mes historiques</h3>
                {% for history in historytAssignedToMe %}
                <p><a href="ticket/{{ history.idHistory }}/show">#&nbsp;{{ history.title }}</a></p>
                {% else %}
                <div class="alert alert-warning">Aucune historique !</div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block extras %}
<div id="extras">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>Qu'est ce que Shuttle ?</h3>
                </div>
                <p>
                    Shuttle est une solution web libre de gestion de Support. Il est destiné à des services de HelpDesk, multi-techniciens ou pas.
                    Cette outil permet de centraliser, classifier, vos demandes et incidents par l'intermédiaire de tickets, 
                    vous permettant ainsi d'informer en temps réel vos collaborateurs.
                    <br />
                    Au fur et à mesure de la création de vos incidents vous mettez en place une base de connaissance, 
                    qui vous permettra de trouver rapidement des réponses à vos demandes.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}