{% extends "mail/layout.html.twig" %}

{% block content %}
<h3>Bienvenue sur Shuttle</h3>
<p>Un compte corespondant à votre adresse a été créer. Votre mot de passe temporaire est {{ password }}</p>
<p>Il vous sera demandé de changer votre mot de passe à votre première connexion.</p>
<p>Pour confirmer votre inscription et activer votre compte, cliquez sur le lien ci-dessous :</p>
<p><a href="{{ domain() }}activate/{{ email }}/{{ token }}">J'active mon compte</a></p>
{% endblock %}